{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/e21cec2af1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'styles/utilities.css' %}">
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
  <title>SwimFast</title>
</head>
<body>
    <div id="navbar" class="navbar">
      <h1 class="logo">SwimFast</h1>
      <nav>
        <ul>

        {% if user.username == 'martin' %}
          <li><a href="{% url 'instructor' %}">Instructors</a></li>
        {% endif %}
        {% if user.is_authenticated %}

          <li><a href="{% url 'booking' %}"><i class="fa-solid fa-person-swimming"></i> {{user.username}}</a></li>
          <li><a href="{% url 'signout' %}">Sign Out</a></li>
        {% else %}
          <li><a href="{% url 'signin' %}">Sign In</a></li>
          <li><a href="{% url 'signup' %}">Register</a></li>
        {% endif %}
        </ul>
      </nav>
    </div>

  {% block content %}
  
  {% endblock %}
 


  
</body>
</html>

