@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #f0f0f0;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

p {
  margin: 0 10px;
}

ul {
  list-style: none;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
}


/* Header */
.lh-heading {
  font-weight: 500;
}
/* Navbar */
.navbar {
  display: flex;
  background: #333;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0%;
  opacity: 0.8;
  padding: 0 30px;
}

/* .navbar.top {
  background: transparent;
} */

.logo {
  color: #fff;
}

.navbar ul {
  display: flex;
}

.navbar ul a {
  color: #fff;
  padding: 10px 20px;
}

.navbar ul a:hover {
  border-bottom: 2px #138769 solid;
}

/* Showcase */

.hero {
  height: 100vh;
  background: url('../image/showcase.jpg') no-repeat center/cover;
}

.hero .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 50px;
}

.hero .content p {
  max-width: 600px;
  font-size: 20px;
  margin: 15px 0 30px;
}

/* .hero::before { 
  content: '';
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
} */

.hero * {
  z-index: 8;
}

/* Login */
.form {
  padding: 40px 40px 40px 40px;
  border: 1px solid #ccc;
  background: #fff;
  height: 425px;
}

.form h2{
  text-align: center;
  margin-bottom: 40px;
  font-weight: 500;

}

.form-group label, .form-group input {
  display: block;
}

.form-group label {
  font-size: 12px;
  color: #4a4949;
  margin-bottom: 3px;
}

.form-group input {
  width: 100%;
  padding: 7px 7px;
  border: #e5e5e5 1px solid;
  border-radius: 5px;
  margin-bottom: 25px;
  color: #333;
}

.form-group input:focus {
  outline: none;
  border-color: #333;
}

.form-footer .btn {
  width: 100%;
  border-radius: 30px;
  margin: 25px 0 20px;
  padding: 13px 0;
  font-weight: 400;
  font-size: 0.8rem
}

.form-footer p {
  font-size: 12px;
  color: #4a4949;
}

.form-footer a {
  color: #138769;
}


/* Sign Up */

.form-register {
  height: 500px;
}

.form-register .form-group a {
  color: #6b1159;
}
.form-group .helptext{
  display: none;
}

/* Bookings */

.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.box .box-1 {
  display: flex;
  flex-direction: column;
  background: #333;
  margin: 10px 3px;
  width: 300px;
  color: #fff; 
  padding: 20px;
  border-radius: 5px;
}

.box-1 .icon {
  padding: 15px 0;
  color:#ccc;
  text-align: center;

}


.box .box-1 ul li {
  padding-bottom: 20px;
}

.box .btn {
  margin: 10px 5px;
  text-align: center;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin: 90px 10px 30px 30px;
}

.heading h2 {
  font-weight: 300;
}


/* Booking Details */
.lh {
  text-align: center;
  margin-bottom: 30px;
}

.form-tag {
  border-radius: 5px;
  border: #e5e5e5;
  width: 400px;
  height: 500px;
}


.form-edit input {
  display: block;
}


.form-edit input:focus, .form-edit .description:focus {
  outline: none;
  border: #333 1px solid; 
}

.form-edit i {
  padding: 0 5px 5px 3px;
}

.form-edit label {
  font-size: 10px;
  margin-bottom: 5px;
}

.form-edit input, .form-edit select {
  width: 100%;
  padding: 7px 6px;
  margin-bottom: 12px;
}


.box-button {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.booking-box {
  justify-content: start;
  display: flex;
  flex-direction: row;
  background: linear-gradient(45deg, #1e8a6d, #057c5c);
  height: 100vh;
  align-items: center;
}


/* Instructors */
.table {
  width: 1000px;
  font-size: 14px;
  border-spacing: 0px 0px;
}

.table thead {
  background: #333;
  color: #fff;
}

.table thead tr th {
  padding: 10px 0;
  font-size: 15px;
}

.table tbody td{
  background-color: #fff;
  border-bottom: 1px #333 solid;
  text-align: center;
  padding: 10px 0;
} 

/* Add Instructor */
.wrapper {
  display: flex;
  margin: 150px auto;
  max-width: 700px;
  height: 700px;
  border-radius: 10px;
 
} 

.wrapper .image {
  border-top-left-radius: 20px;
  background-color: #333;
  width: 220px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 70px;
  color: #fff;
}

.wrapper .image img {
  border-radius: 70%;
  margin-bottom: 13px;
  width: 100px;
}

.wrapper .image .social i {
  padding: 0 5px;
}

.description {
  width: 100%;
  height: 150px;
  padding: 7px 7px;
  border-radius: 5px;
  margin-bottom: 25px;
}

.form-instructor-details {
  width: 100%;
  height: 700px;
  border: none;
}

.box-inst-details {
  margin-top: 10px;
}

/* Add an instructor */
.form-instructor {
  height: 750px;
}

.form-instructor label {
  display: inline-block;
}
.form-instructor i {
  margin-left: 3px;
  padding-right: 2px;
}


/* Staff */

#staff {
  display: flex;
  margin: 70px 30px 100px 60px;
}


#staff .staff-text {
  margin-right: 35px;
  align-self: center;
}

.staff-text h2 {
  font-size: 30px;
  font-weight: 500;
  color: #000;
  margin: 10px 0 10px 0;
}

.staff-text p {
  line-height: 30px;
  margin: 0;
  font-size: 18px;
}

.staff-text a {
 color: #800080ff;
 font-size: 20px;
 display: inline-block;
 margin-top: 25px;
 font-weight: bolder;
 font-family: "Roboto", sans-serif;
}

.staff-text a:hover {
  border-bottom: 1px solid #6b1159;
}


/* Testimonials */
#testimonials {
  height: 700px;
}

#testimonials .head {
  text-align: center;
  margin: 0 40px;
}

#testimonials .head h2 {
    font-size: 40px;
    font-weight: 500;
    color: #000;
    margin: 10px 0 20px 0;
}


#box-testimonial {
  margin: 60px 20px;
  display: flex;
  justify-content: space-around;

}


#box-testimonial .box-testimonial {
  background: #fff;
  height: 500px;
  width: 500px;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#box-testimonial .box-testimonial .text {
  height: 300px;
  width: 400px;
  border-bottom: 1px #ccc solid;
  display: flex;
  flex-direction: column;
} 

#box-testimonial .box-testimonial .text p  {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}

#box-testimonial .box-testimonial .text img {
  align-self: flex-end;
  width: 140px;
  margin-bottom: 50px;

}


#box-testimonial .testimonial-pic {
  display: flex;
  justify-content: flex-start;
  margin: 30px 0 0 10px;
}

#box-testimonial .testimonial-pic .img img{ 
  width: 80px;
  margin-right: 10px;
  border-radius: 10px;
}

#box-testimonial .testimonial-pic .text-2 p {
  margin: 0px;
  font-size: 16px;
  font-weight: 100;
}


/* Footer */
#home-footer {
  background: #000;
  height: 500px;
  color: #fff;
  font-weight: 100;
}

#home-footer .section {
  display: flex;
  flex-direction: column;
}

#home-footer .section a{
  color: #fff;
}
#home-footer .section a:hover{
  border-bottom: #fff solid 1px;
}

#home-footer .section .logo {
  display: flex;
  justify-content: space-between;
  margin: 60px 30px 30px 30px;
  border-bottom: 1px solid #555;
  height: 350px;
}


#home-footer .section .logo .logo-left .logo-pic {
  width: 200px;
}

#home-footer .section .logo img {
  width: 60px;
  padding-bottom: 25px;
}

#home-footer .section .logo .logo-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



#home-footer .section .logo-right {
  display: flex;
  justify-content: space-around;
}

#home-footer .section .logo-right ul {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin-right: 80px;
}

#home-footer .section .logo-right li {
  line-height: 35px;
  font-weight: 400;
}

#home-footer .section .logo-right ul li:first-child{
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 19px;
}


#home-footer .section .bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 40px 10px 40px;
}

#home-footer .section .bottom  a {
  margin-right: 20px;
}

#home-footer .section .bottom .links a {
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 5px 7px;
}


#home-footer .section .bottom .links img {
  width: 50px;
}

#home-footer .section .bottom .links  a:hover {
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 5px 7px;
  color: #000;
  background: #fff;
}


#home-footer .section .bottom .copyrights {
  display: flex;
}

#home-footer .section .bottom .copyrights ul {
  display: flex;
}

#home-footer .section .bottom .copyrights a {
  margin-right: 25px;
}

#home-footer .section .bottom .copyrights p {
  margin: 0;
  font-weight: 600;
} 
  
/* 404 Handle Page */
#main-404 {
  height: 100vh;
  background: url('../image/bg-404.png') no-repeat center 70px/cover;
  text-align: center;
  color: #fff;
  line-height: 35px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-404 h2{
  margin-top: 10px;
  font-size: 30px;
}

#main-404 p {
  margin: 0;
  font-size: 20px;
}








