{% extends 'layouts/base.html' %}
{% block content %}

<div class="heading">
  <h2 class="hl">Your bookings</h2>
  <a href="{% url 'create_booking' %}" class="btn-dark-plus"><i class="fa-solid fa-plus"></i>
  </a>
</div>
<div class="box">
  {% for i in booking %}
  <div class="box-1">
    <i class="fa-solid fa-calendar-days fa-2x icon"></i>
    <ul>
        <h4>Date:</h4>
        <li>{{i.date}}</li>
        <h4>Time:</h4>
        <li>{{i.hour}}</li>
        <h4>City:</h4>
        <li>{{i.place}}</li>
        <h4>Instructor:</h4>
        <li>{{i.instructor.first_name}} {{i.instructor.last_name}} ({{i.instructor.email}})
        </li>
    </ul>
    <a href="{% url 'booking_detail' i.id %}" class="btn">Edit</a>
  </div>
  {% endfor %}
</div>




{% endblock %}