{% extends 'layouts/base.html' %}

{% block content %}
<div class="container">
  <div class="form form-register">
    <h2 class="lh">Sing up</h2>
    <p class="error">{{error}}</p>
    <form action="/signup/" method="POST" class="form-group">
      {% csrf_token %}
      {{form.as_div}}
      <footer class="form-footer footer-register">
        <button class=" btn btn-dark">Sign up</button>
        <p>Do you already have an account? <a href="/signin/" class="c2">Sign In</a></p>
      </footer>
    </form>
  </div>
</div>
{% endblock %}