{% extends 'layouts/base.html' %}
{% block content %}


  <div class="container">
    <div class="form">
      <h2 class="lh">Log in</h2>
      <p class="error">{{error}}</p>

      <form action="/signin/" method="POST" class="form-group">
        {% csrf_token%}
        {{form.as_div}}
        <footer class="form-footer">
          <button class="btn">Log in</button>
          <p>New here? <a href="/signup/">Create an account</a></p>
        </footer>
      </form>
    </div>
  </div>







{% endblock %}